.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav-item a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: Raleway, sans-serif;
}
.navbar{
    list-style: none;
    display: flex;
}

.nav-item{
    margin-right: 3vw;
}

.nav-item a::after{
    content : "";
    display: block;
    height: 2px;
    width: 0;
    background: #000;
    transition: width 0.3s ease-in-out;
}

.nav-item a:hover::after{
    width: 100%;
}

.name{
    color: purple;
    font-size: 2rem;
    font-weight: bold;
}
